# Ignore root
*

# Ignore in-progress release folders in case I forget
LittleBuster/*

# But remember stuff we keep in the repo root
!.gitignore
!.gitattributes
!/.vscode/**/*
!.luaconfig
!LICENSE.md
!README.md
!CHANGELOG.txt
!LittleBuster.toc
!tlconfig.lua

# Remember stuff in /src
!/src
!/src/**/*

# Remember XML files in /config and below
!/config
!/config/**/*.xml